/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
    padding: 0;
}

body {
    padding: 0;
}

header {
    background-image: url('../img/monkaa_title.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 20em;
    border-radius: 1em;
}

ul.main-nav {
    position: absolute;
    top: 275px;
    width: 97%;
    height: 40px;
}

.main-nav li {
    display: inline;
    align-items: center;
    list-style: none;
    font-size: 32px;
    padding: 6em;
}

#social {
    position: absolute;
    top: 50px;
    right: 0;
    width: 25px;
    transition: 2s width;
}

#social:hover {
    width: 80px;
}

#social ul {
    list-style: none;
    padding: 0;
}

#social li {
    margin: 0;
    padding: 0;
}

h2 {
  background-color: red;
  font-size: 34px;
  font-family: "Helvetica";
  text-align: center;
}

#watch {
  text-align: center;
}

#listen {
  text-align: center;
}

.download-button {
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
}

.download-button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.headshot {
    height: 20em;
    width: 20em;
    border-radius: 10em;
}

footer p {
  background-image: url("../img/official_header.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: solid;
  border-width: thin;
  border-color: black;
  min-height: 20em;
}
